<br>
<br>
<br>
<br>
<main role="main">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <label>
                    <p>
                        <strong style="color:red;">Reached max amount (8) of users connected! Try please later.</strong>
                    </p>
                </label>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- /.container -->
</main>